:root {
  --body-bg-color:#FAF7FD;
  --purple: #bb99dd;
  --linea-bg-color:  linear-gradient(90deg, rgba(254,93,224,1) 0%, rgba(242,1,2,1) 16%, rgba(255,134,1,1) 33%, rgba(252,246,1,1) 49%, rgba(1,135,35,1) 66%, rgba(69,0,253,1) 83%, rgba(132,2,136,1) 100%); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--body-bg-color);
}

a {
  text-decoration: none;
}

.content {
  max-width: 300px;
  margin: 50px auto 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#avatar span {
  background: var(--linea-bg-color);
  border-radius: 50%;
  width: 207px;
  height: 207px;
  padding: 7px;
}

#avatar span img {
  width: 100%;
  border-radius: 50%;
}

#avatar a {
  margin-top: 22px;
  color: var(--purple);
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

#socialLinks {
  width: 100%;
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#socialLinks li {
  width: 100%;
  list-style: none;
}

#socialLinks li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 2px solid var(--purple);
  border-radius: 4px;

  transition: background .4s;
}

#socialLinks li a:hover {
  background: var(--purple);
}

#socialLinks li a span {
  margin-left: 16px;
  color: var(--purple);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

#socialLinks li a:hover span,
#socialLinks li a:hover svg path{
  color: #FFF;
  stroke: #FFF
}

footer p {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 600;
  background: var(--linea-bg-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
